fastapi
uvicorn
transformers
ultralytics==8.2.48
huggingface_hub
accelerate
httpx
pytest
opencv-python
websockets
gputil
ibm_watsonx_ai
ibm_watson
ibm_cloud_sdk_core
pydub
sentencepiece
datasets
# Requires CUDA 12.1 installation for cuda access
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio
