fastapi
uvicorn
transformers
ultralytics==8.2.48
huggingface_hub
httpx
pytest
opencv-python
websockets
setuptools
gputil
--extra-index-url https://download.pytorch.org/whl/cu121
torch
torchvision
torchaudio